

.contenedor-principal {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.columna-izquierda {
    flex: 1;
    min-width: 200px;
}

.filtro {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.filtro h3 {
    margin-top: 0;
}

.columna-derecha {
    flex: 3;
}

.titulo-resultados {
    margin-bottom: 20px;
}

.servicio {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.servicio img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.info-servicio {
    flex:
}