body {
    font-family: "Lexend", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.contenedor-principal {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
    min-height: 70vh;
}

.columna-izquierda {
    flex: 1;
    min-width: 200px;
}

.filtro {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filtro h3 {
    margin-top: 0;
}

.columna-derecha {
    flex: 3;
}

.titulo-resultados {
    margin-bottom: 20px;
    color: #333;
    font-weight: 500;
}

.servicio {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.servicio:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.servicio img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.info-servicio {
    flex: 1;
}

.filtro {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rating-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
}


.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.rating label:hover,
.rating label:hover~label {
    color: gold;
}

.rating input:checked~label {
    color: gold;
}

.btn-filtrar {
    background-color: #ff914d;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-filtrar:hover {
    background-color: #ff7a1a;
}

.rating-todas {
    text-align: center;
    margin-top: 10px;
}

.rating-todas label {
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: color 0.2s;
}

.rating-todas input:checked+label {
    font-weight: bold;
}


.rating-todas input:checked+label {
    color: #333;
    font-weight: bold;
}

.rating-todas label:hover {
    color: #333;
}



@media (max-width: 768px) {
    .contenedor-principal {
        flex-direction: column;
    }

    .columna-izquierda,
    .columna-derecha {
        min-width: 100%;
    }

    .servicio {
        flex-direction: column;
        align-items: flex-start;
    }

    .servicio img {
        margin-bottom: 10px;
    }
}