
.frase-seccion {
    height: 200px; 
    display: flex;
    font-family: "Playfair-display";
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background: linear-gradient(135deg, #FF914D, #fd7019);
    color: white; 
    font-size: 2rem; 
    font-weight: bold;
    padding: 0 20px; 
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .frase-seccion {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .frase-seccion {
        font-size: 1.5rem;
    }
}
